
.body{
  width:100%;  
    
}

.parent{    
    text-decoration: none;
    list-style: none;
    font-family:'Segoe UI';

  
    
    
    /*Flexbox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
        
}

.item, .iconItem{
    height:250px;
   width:30%;  
 

    background-color:#354551;
    border-style: solid;
    border-color: white;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: 600;  
}

.subIcon{  
    background-color:lightgrey;
    margin:5px; 
    text-align:center;
    vertical-align:central;     

}


/*Adjust the size of individual Tiles*/

.item:nth-child(1){/*First Tile*/    
    flex-wrap:wrap;   
   flex-grow:1;
   }

#icon{
    width:10%;
    height:10%;
}

.item:nth-child(5){   
    flex-grow:1;
     padding-left:5px; 
     padding-right:5px; 
   }

.iconItem{
    
    color:gray;
    
}


.iconItem, .item:hover{
   background-color:#34B3A0;
   color:white;
}

#divQp{
    background-color:Highlight;
    color:black;
}

@media only screen and (max-width : 1224px) {
    body{
        background-color:deeppink;
    }
}

@media only screen and (max-width : 768px) {
    body{
        background-color:red;
    }
}

@media only screen and (max-width : 500px) {
    body{
        background-color:gray;
        
    }

    .parent{
        flex-direction:column;
    }
    .item, .iconItem{
    height:300px; 
    width:100%;    
    
}
}

#outer {  
   
    height: 20px;
    background-color: lightgray;
    
}

#inner {
    width: 0px;
    height: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

.tileHeader{
    height:20%;
    background-color:green;
    padding-left:0px;
}









