
.parent{
    font-family:'Segoe UI';
    font-weight:600;
    display:flex;
    height:calc(100vh - 350px);
    flex-wrap:wrap;  
    color:white;
    
}

.item{
    width:20%;
    height:50%;
    background-color:deepskyblue;
    margin:5px; 
    text-align:center;
    vertical-align:central;     
}
.item:hover{
    border-color:red;
}



