
.body{
     
    
}

.parent{    
    text-decoration: none;
    list-style: none;
    font-family:'Segoe UI';
    
    
    /*Flexbox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
        
}

.item, .iconItem{    
   width:300px;

    margin: 5px;
    background-color:white;
    border-style: solid;
    border-color: white;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-weight: 600;  
}

.subIcon{  
    background-color:lightgrey;
    margin:5px; 
    text-align:center;
    vertical-align:central; 
    border:solid;
    border-width:2px;
    border-color:deepskyblue;  

}


/*Adjust the size of individual Tiles*/

.item:nth-child(1){/*First Tile*/    
    flex-wrap:wrap;   
   flex-grow:1;
   }

#icon{
    width:10%;
    height:10%;
}

.item:nth-child(5){   
   
     flex-grow:1;  
  
}

.item:nth-child(4){   
   
   
}

.iconItem{
    background-color:deepskyblue;  
    color:gray;
    
}


.iconItem, .item:hover{
   background-color:#34B3A0;
   color:white;
}

#divQp{
    background-color:Highlight;
    color:white;
}

@media only screen and (max-width : 1224px) {
    body{
        background-color:deeppink;
    }
}

@media only screen and (max-width : 768px) {
    body{
        background-color:red;
    }
}

@media only screen and (max-width : 500px) {
    body{
        background-color:gray;
    }
}









