/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color: lightgray;
    color: black;
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
}

#logOut {
    height: calc(100vh - 230px);
}



#MainContent {
    height: calc(100vh - 200px);
}



#loginHead {
    text-align: center;
    background-color: lightgray;
}

#headLabel {
    font-size: x-large;
}



#loginControls {
    background-color: lightgray;
    width: 100%;
}

#footer {
    background-color: aliceblue;
    height: 100px;
    text-align: center;
}


#menu ul li:hover {
    display: block;
    background-color: green;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting  the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/******************************Documents page Layout style*********************************************/
#lessonBody {
    display: flex;
    justify-content: center;
}

#lessonsHeader {
   width:100%;
}

@media only screen and (max-width : 1224px) {
    body {
        background-color: deeppink;
    }
}

@media only screen and (max-width : 768px) {
    body {
        background-color: red;
    }
}

@media only screen and (max-width : 500px) {
    body {
        background-color: lightGray;
        width: 100%;
    }



    #lessonBody {
        flex-direction: column;
    }

    .docItem {
        width: 100%;
    }

    .lessonHeader {
        height: 80px;
    }

    #inner {
        background-color: green;
    }
}


.docItem {
    text-align: center;
    background-color: blue;
    width: 100%;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: left;
}

#updatePanel {
}


#queryWindow {
    background-color: #2A3034;
}

#resultWindow {
}

#txtRunSql {
    width: 100%;
}

#updatePane2 {
    width: 100%;
}

#panelLesson1 {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
}


.docItem:nth-child(1) {
    color: black;
    background-color: white;
}


.docItem:nth-child(2) {
    background-color: #354551;
}

.docItem:nth-child(3) {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
}

#lbDoc {
    text-align: center;
}

.txtInfo {
}

/*********************Lesson tiles content area:********************************/



#lessonPageHeader {
    width: 100%;
    display: flex;
}





#content {
    text-decoration: none;
    list-style: none;
    display: flex;
    /*Flexbox*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Lesson Tiles*/
.tile {
    flex-direction: row;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: white;
    border-style: solid;
    border-color: white;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-weight: 600;
}

    .tile:hover {
        background-color: #34B3A0;
        color: white;
    }

    .tile:nth-child(5) {
        
    }

#tileFrame {
    width: 100%;
    height: 100%;
}

#label {
    font-size: larger;
    color: black;
}

#bonus {
    background-color: gold;
}

#bonus:hover{
    color:red;
}

/*Lesson 2*******************************************************************/

#lesson2 {
    display: flex;
    justify-content: center;
}


#window1, #window2 {
    width: 50%;
    text-align: center;
    background-color: white;
    flex-direction: row;
    height: 500px;
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: left;
}




/**Graph area***************************************/

#welcomeArea{
    justify-content:center;
    display:flex;
    flex-direction:column;
}

#window {
    text-align: center;    
    height: calc(100vh - 250px);
}


#continueButton {
    width: 10%;
    text-align: center;
}



#outer {
   width:100%;
    height: 20px;
    background-color: gray;
}

#inner {
    width: 0px;
    height: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

#btnLogin:hover {
    border-color: deepskyblue;
    border-width: 2px;
    border-style: solid;
}

#introWindow {
    height: calc(100vh - 200);
}

#task1, #task2, #task3 {
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#docs {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px;
}

#docWindow1 {
    width: 40%;
    height: 500px;
    background-color: white;
}

#docWindow2 {
    width: 60%;
    height: 500px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
}
