/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-color:lightgray;
    color: black;    
    padding-top: 70px;   
    padding-left:0px;
    padding-right:0px;    
     

  
}

#logOut{

    height:calc(100vh - 300px);
}



#MainContent {
  height:calc(100vh - 200px);   
}

#txtSearch {
    width: 90%;
}

#loginHead {
    text-align: center;
    background-color:lightgray;
}

#headLabel {
    font-size: x-large;

}



#loginControls{
   
    background-color:lightgray;
    width:100%;  
}

#footer {
    background-color:aliceblue;
    height:100px;
   text-align:center;
}


#menu ul li:hover {
    display: block;
    background-color: green;   
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting  the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/******************************Documents page Layout style*********************************************/
#lessonBody{
    display:flex;
    justify-content:center;

}

.lessonHeader{
    height:50px;
    background-color:lightgray;  
    padding:0px; 
  text-align:center;

}


.docItem {   
    height:calc(100vh - 200px);   
    text-align: center; 
    background-color:blue;      
    width:30%;
    margin:5px;  
    flex-wrap:wrap;
    padding:5px;
    color:white;
    text-align:left;
    
      
}

#updatePanel{
    height:500px;
}


#queryWindow{
background-color:black;
}

#resultWindow{


}

#txtRunSql{
   
}

#panelLesson1{
    height:40px;
    border-color:black;
    border-style:solid;
    border-width:2px;
    padding:2px;
    
}


  .docItem:nth-child(1) {
       
        color:black;
        background-color:white;
               
    }


    .docItem:nth-child(2) {
      
        background-color:lightgray;
        
    }

     .docItem:nth-child(3) {
       
        background-color:white;
        
    }

#lbDoc {
    text-align: center;
}

.txtInfo {
    width: 100%;
    height: 100%;
}

/*********************Lesson tiles content area:********************************/
#content {
    text-decoration: none;
    list-style: none;
    display: flex;
    /*Flexbox*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

/*Lesson Tiles*/
.tile {
    flex-direction: row;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color:deepskyblue;
    border-style: solid;
    border-color: deepskyblue;
    vertical-align: middle;
    text-align: center;
    color: black;
    font-weight: 600;
}

    .tile:hover {
        border-color: red;
    }

#tileFrame {
    width: 100%;
    height: 100%;
}

#label {
    font-size: larger;
    color: black;
}


/**Graph area***************************************/

#window{    
    text-align:center;    
    width:100%;
    height:calc(100vh - 250px)
}


#continueButton{
    width:10%;   
    text-align:center;
}



#outer{
    width:100%;
    height:40px;
    background-color:gray;
    
}

#inner{
    width:0px;
    height:100%;
    background-color:lightseagreen
}

#btnLogin:hover{
    border-color:deepskyblue;
    border-width:2px;
    border-style:solid
}

#introWindow{
    height:calc(100vh - 200);
}
#task1,#task2,#task3{
   border-style:solid;
   border-width:2px;
   border-color:white;
}












